h1 {
  text-align: center;
}

.top {
  background-color: red;
  height: 100px;
  border: 3px solid yellow;
  margin-bottom: 50px;
}

.bottom {
  background-color: red;
  height: 100px;
  border: 3px solid yellow;
}